exercise-1-email-automation/1 - basic exercise.json
{
  "name": "1 - basic exercise",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": ["SPAM"]
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "14497dee-9b15-4faa-8d65-e450664d3bb7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "71FSzEuS4snItVkJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1a1719ae-1c61-42a1-a924-0faaa0c4c161",
              "leftValue": "={{ $('Gmail Trigger').item.binary }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [208, 0],
      "id": "d01ec21d-ea16-41cb-8e9c-35a31cd3c610",
      "name": "Filter"
    },
    {
      "parameters": {
        "inputDataFieldName": "attachment_0",
        "name": "prova",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1_2kLMYGCjr6Jw5piugHnvVhNMnfiCsZM",
          "mode": "list",
          "cachedResultName": "My Drive Folder",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_2kLMYGCjr6Jw5piugHnvVhNMnfiCsZM"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [416, 0],
      "id": "5327471f-e6a9-4522-9002-45e1c2adffe6",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yERSAJ8GZ3XGZSwv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09FLQPTUQL",
          "mode": "list",
          "cachedResultName": "ciao"
        },
        "text": "=📂 File \"{{ $json.originalFilename }}\" caricato su Google Drive ✅ Link: {{ $json.webViewLink || $json.webContentLink }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [624, 0],
      "id": "d1d4de31-5b12-41e0-8d74-7753efb1d9d9",
      "name": "Send a message",
      "webhookId": "6c846cb0-46f3-431e-9015-686aefeee3ed",
      "credentials": {
        "slackApi": {
          "id": "z7INrziOvUF9gBar",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "496b4aff-f076-4df5-8e96-27eae480a158",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5499e25cd71a00a76e6801f1a3516c0b0b8d997bff1384e8965d143e5c9e6778"
  },
  "id": "SQ2yeSs3CkfNho47",
  "tags": []
}
