exercise-1-email-automation/1- extra extra mile.json
{
  "name": "1 - extra extra mile",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": ["INBOX"]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-288, 16],
      "id": "3810f21f-888a-4f82-8b74-db7ad8090780",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "71FSzEuS4snItVkJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [-80, 16],
      "id": "092be690-9e5e-4f78-986d-71eb043b6c54",
      "name": "Get a message",
      "webhookId": "2ab9e01c-2a49-4352-9520-d0de3866c1f2",
      "credentials": {
        "gmailOAuth2": {
          "id": "71FSzEuS4snItVkJ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Helper\nconst decode = (s='') => {\n  try {\n    return Buffer.from(s.replace(/-/g,'+').replace(/_/g,'/'), 'base64').toString('utf8');\n  } catch (e) { return ''; }\n};\n\n// Subject\nconst subject =\n  $json.subject\n  || ($json.payload?.headers?.find(h => (h.name||'').toLowerCase() === 'subject')?.value)\n  || '';\n\n// Body \nlet textPlain = $json.textPlain || '';\nlet textHtml  = $json.textHtml  || '';\n\nif (!textPlain && !textHtml && $json.payload) {\n  const collect = (part, acc) => {\n    if (!part) return;\n    if (part.body?.data && part.mimeType) {\n      const decoded = decode(part.body.data);\n      if ((part.mimeType||'').includes('text/plain')) acc.plain.push(decoded);\n      if ((part.mimeType||'').includes('text/html'))  acc.html.push(decoded);\n    }\n    (part.parts || []).forEach(p => collect(p, acc));\n  };\n  const acc = { plain: [], html: [] };\n  collect($json.payload, acc);\n  textPlain = acc.plain.join('\\n');\n  textHtml  = acc.html.join('\\n');\n}\n\nconst plainFromHtml = (textHtml || '').replace(/<[^>]+>/g, ' ');\nconst body = textPlain || plainFromHtml || $json.text || $json.snippet || '';\n\n// Cerco nel subject + body\nconst searchText = `${subject}\\n${body}`;\nconst m = searchText.match(/Crea\\s*cartella:\\s*([^\\r\\n]+)/i);\n\nif (m && m[1]) {\n  return [{ json: { folderName: m[1].trim(), subject, rawBody: body } }];\n}\nreturn []; // niente match \n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, 16],
      "id": "4e3bf219-a87f-4721-ad7e-02079932f398",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "efc88fe5-4e8e-4513-929f-b61ff2f7c7c2",
              "leftValue": "folderName",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [336, 16],
      "id": "062176c6-2f43-4993-9e94-f9b3bf43096f",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [672, 288],
      "id": "438dda50-f8ab-43d4-a069-0e88b748fabd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.folderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "mode": "list",
          "value": "root",
          "cachedResultName": "/ (Root folder)"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [688, -160],
      "id": "09b81bde-4a8b-4e25-b0fa-ac5063807b35",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "yERSAJ8GZ3XGZSwv",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09FLQPTUQL",
          "mode": "list",
          "cachedResultName": "ciao"
        },
        "text": "==✅ Cartella creata: {{$json.folderName}}\n📧 Richiesta da: {{ $node[\"Get a message\"].json.from || $node[\"Gmail Trigger\"].json.from || \"n/d\" }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [896, -160],
      "id": "de6f06cc-065a-4ba6-af51-925040168f07",
      "name": "Send a message",
      "webhookId": "0df8e654-2fef-4e4c-aa9d-1f81581e19a8",
      "credentials": {
        "slackApi": {
          "id": "z7INrziOvUF9gBar",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ff0c3192-5d77-4241-92cc-1281fe7e1743",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5499e25cd71a00a76e6801f1a3516c0b0b8d997bff1384e8965d143e5c9e6778"
  },
  "id": "Memzbmg5gpuqHFxE",
  "tags": []
}
