exercise-3-linkedin-leads/3 - extra mile.json
{
  "name": "3 - extra mile",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-624, -192],
      "id": "32b46410-9259-414f-ac5d-356a599ef54c",
      "name": "Daily Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "af99b6c3-9a33-49db-9da9-0e04ac0e2826",
              "name": "keyword",
              "value": "python developer",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-288, -192],
      "id": "10203373-601b-4e8e-b15d-57a32a20881a",
      "name": "Keyword Input"
    },
    {
      "parameters": {
        "jsCode": "// Input: { keyword }  ->  Output: { keyword, query }\nconst kw = ($json.keyword || \"\").trim().replace(/\\s+/g, \" \");\nconst query = `site:linkedin.com/in/ ${kw}`;  \nreturn [{ keyword: kw, query }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [16, -192],
      "id": "8fb5920a-2a07-462d-8e14-d04dedba58cf",
      "name": "Build Google Query"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cx",
              "value": "YOUR_GOOGLE_SEARCH_ENGINE_ID"
            },
            {
              "name": "q",
              "value": "={{$json.query}}"
            },
            {
              "name": "num",
              "value": "10"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "name": "start",
                    "value": "={{ $response.body.queries?.nextPage?.[0]?.startIndex || 1 }}"
                  }
                ]
              },
              "limitPagesFetched": true,
              "maxRequests": 1
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [336, -192],
      "id": "c9ac4489-7145-404d-ad45-696c52cf94f6",
      "name": "Google Search API",
      "credentials": {
        "httpQueryAuth": {
          "id": "M0HMwaHWckXiC0aj",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json;\nconst items = (body.items ?? [])\n  .filter(i => (i.link || \"\").includes(\"linkedin.com/in/\"))\n  .map(i => ({ title: i.title||\"\", link: i.link||\"\", snippet: i.snippet||\"\" }));\nreturn [{ keyword: $node[\"Keyword Input\"].json.keyword, results: items }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [672, -192],
      "id": "e68602d0-9407-40ad-a509-d71c30e278e8",
      "name": "Filter LinkedIn Results"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "[\n  { \"full_name\": \"Mario Rossi\", \n  \"current_role\": \"Python Developer\", \"company\": \"Tech Solutions S.p.A.\", \"location\": \"Milan, Italy\", \"linkedin_url\": \"https://www.linkedin.com/in/mario-rossi\", \n  \"source_title\": \"Mario Rossi | Python Developer | LinkedIn\",\n  \"source_snippet\": \"Experienced Python developer in Italy.\", \n  \"keyword_used\": \"python developer\",\n  \"notes\": \"\" },\n  { \"full_name\": \"Laura Bianchi\",\n    \"current_role\": \"Senior Python Engineer\", \n    \"company\": \"Innovation Labs\",\n    \"location\": \"Rome, Italy\",\n    \"linkedin_url\": \"https://www.linkedin.com/in/laura-bianchi\", \"source_title\": \"Laura Bianchi - Senior Python Engineer\",\n    \"source_snippet\": \"Python expert with 5+ years experience.\",\n    \"keyword_used\": \"python developer\", \"notes\": \"\" } \n]",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [1056, 80],
      "id": "a23b46b4-3ea5-46e0-afb1-81bd4845bff6",
      "name": "Output Parser (JSON Schema)"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [816, 80],
      "id": "2d93e01a-89c6-4d66-9d5a-b329c3913e6f",
      "name": "Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "0vr31XUva6PqAbRv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1056, 288],
      "id": "3e348d35-c93b-4b54-b0bc-a1ebb62389c4",
      "name": "Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "0vr31XUva6PqAbRv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analizza i risultati di ricerca LinkedIn e restituisci un array JSON strutturato.\n\nRISULTATI: {{ JSON.stringify($json.results, null, 2) }}\n\nKEYWORD: {{ $json.keyword }}\n\nREGOLE:\n- Estrai informazioni SOLO dai dati forniti\n- Massimo 25 profili\n- Solo URL con linkedin.com/in/\n- Rimuovi duplicati per linkedin_url\n- Se un campo non è disponibile, usa stringa vuota\n- Estrai il nome dal campo \"title\"\n- Estrai ruolo/azienda/località dallo \"snippet\" se presente\n\nRestituisci un array JSON con questi campi per ogni profilo:\n- full_name: nome completo estratto dal title\n- current_role: ruolo attuale se disponibile\n- company: azienda se disponibile\n- location: località se disponibile\n- linkedin_url: URL completo del profilo LinkedIn\n- source_title: titolo originale del risultato\n- source_snippet: snippet originale del risultato\n- keyword_used: la keyword cercata ({{ $json.keyword }})\n- notes: lascia vuoto",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [992, -192],
      "id": "765b308b-c828-4716-8d45-cea034c0aa64",
      "name": "AI Formatter"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1552, -608],
      "id": "64856516-c491-4277-9b18-4e6cd819d326",
      "name": "Split Leads Array"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appUJhXtoC8dMbc6A",
          "mode": "list",
          "cachedResultName": "My Workspace",
          "cachedResultUrl": "https://airtable.com/appUJhXtoC8dMbc6A"
        },
        "table": {
          "__rl": true,
          "value": "tblhyad9ljZXDUlAy",
          "mode": "list",
          "cachedResultName": "Lead",
          "cachedResultUrl": "https://airtable.com/appUJhXtoC8dMbc6A/tblhyad9ljZXDUlAy"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {
            "full_name": "={{$json.full_name}}",
            "current_role": "{{$json.current_role}}",
            "company": "{{$json.company}}",
            "location": "{{$json.location}}",
            "linkedin_url": "{{$json.linkedin_url}}",
            "source_title": "{{$json.source_title}}",
            "source_snippet": "{{$json.source_snippet}}",
            "keyword_used": "{{$json.keyword_used}}",
            "notes": "{{$json.notes}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "current_role",
              "displayName": "current_role",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedin_url",
              "displayName": "linkedin_url",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_title",
              "displayName": "source_title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "source_snippet",
              "displayName": "source_snippet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "keyword_used",
              "displayName": "keyword_used",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [3104, -208],
      "id": "ea71e1d8-8b7c-4949-8411-59884ca07c63",
      "name": "Create Record in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "buObLeqG2DGHCa4r",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "Esegue automaticamente il flusso ogni giorno (es. ore 9:00).",
        "height": 96,
        "width": 160,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-640, -320],
      "typeVersion": 1,
      "id": "c77c0320-1b2d-4107-ba5f-16ca5638a8c0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Definisce la keyword di ricerca (es. ‘python developer’).",
        "height": 96,
        "width": 150,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-304, -320],
      "typeVersion": 1,
      "id": "be3b80c0-059f-473c-9b2b-f601fb50941b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Costruisce la query da passare a Google Search API includendo \"site:linkedin.com/in/\".",
        "height": 96,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-16, -320],
      "typeVersion": 1,
      "id": "e9e05814-42d3-4131-bfd4-c0b7e5848ce6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Esegue la ricerca tramite Google Custom Search e restituisce i risultati.",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [304, -304],
      "typeVersion": 1,
      "id": "0cb8b9d8-da8e-400f-8ae2-fb3379afeb80",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "Filtra i risultati e mantiene solo i link LinkedIn personali.",
        "height": 80,
        "width": 160,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [640, -304],
      "typeVersion": 1,
      "id": "17157722-0bcb-4331-806b-36e77b955cc2",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "Usa l’AI (Gemini) per estrarre i dati principali (nome, ruolo, azienda, ecc.) in formato JSON.",
        "height": 80,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [992, -304],
      "typeVersion": 1,
      "id": "9df9d8cb-d139-445c-8845-7ebbb655f094",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "Verifica che la risposta AI sia un JSON valido secondo lo schema definito.",
        "height": 80,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1168, 192],
      "typeVersion": 1,
      "id": "a2d43f99-d7b2-472c-bbf7-f01edb490252",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "Divide l’array JSON in singoli record, uno per ogni lead.",
        "height": 80,
        "width": 224,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [1504, -720],
      "typeVersion": 1,
      "id": "a517542c-ed2c-4890-8cc0-904e27a12629",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "Crea un record su Airtable per ogni profilo trovato nella ricerca.",
        "height": 80,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [3088, -320],
      "typeVersion": 1,
      "id": "e03fd950-9a52-4f7e-9771-58c949d7e080",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1936, 224],
      "id": "41564372-a031-4d2a-8cd5-dd487cb339a7",
      "name": "Gemini3",
      "credentials": {
        "googlePalmApi": {
          "id": "0vr31XUva6PqAbRv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score\": 3,\n  \"rationale\": \"Ruolo Python\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [2240, 224],
      "id": "b1f59c15-bfcd-4f03-bc56-701f6346794e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [2704, -208],
      "id": "fe369e83-b31b-4407-97b8-4a3ebf0fff4a",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Valuta quanto questo profilo LinkedIn è rilevante rispetto alla KEYWORD.\n\nREGOLA DI VALUTAZIONE (0–5):\n0 = irrilevante (non è una persona, o non c'entra nulla)\n1 = molto lontano\n2 = parzialmente lontano\n3 = in parte rilevante\n4 = molto vicino\n5 = perfettamente in target\n\nDATI PROFILO:\n- full_name: {{ $json.full_name }}\n- current_role: {{ $json.current_role }}\n- company: {{ $json.company }}\n- location: {{ $json.location }}\n- source_title: {{ $json.source_title }}\n- source_snippet: {{ $json.source_snippet }}\n- linkedin_url: {{ $json.linkedin_url }}\n- keyword: {{ $json.keyword_used }}\n\nISTRUZIONI:\n- Considera soprattutto ruolo, competenze implicite nel title/snippet e coerenza geografica se la keyword la implica.\n- Se mancano informazioni, penalizza.\n- Rispondi SOLO in JSON valido con questo schema:\n{ \"score\": <numero intero 0..5>, \"rationale\": \"<max 120 char>\" }\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [2048, 16],
      "id": "522f1dde-82a2-454c-bbf8-76303f70eb3f",
      "name": "AI Add Score"
    },
    {
      "parameters": {
        "content": "Unisce i dati dei lead con il punteggio AI per creare un record completo.",
        "height": 80,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2656, -320],
      "typeVersion": 1,
      "id": "b6e807aa-5a1d-419f-a786-fdc83505d62e",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "Usa l'AI (Gemini) per assegnare uno score (0-5) in base alla pertinenza del profilo con la keyword.",
        "height": 96,
        "width": 224,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2048, -128],
      "typeVersion": 1,
      "id": "264b5411-ac94-4feb-8201-a90b693639ba",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "Verifica che la risposta AI sia un JSON valido secondo lo schema definito.",
        "height": 80,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [2320, 112],
      "typeVersion": 1,
      "id": "3361188e-1f6f-46d7-a02d-40bb9f3787d5",
      "name": "Sticky Note11"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Keyword Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Input": {
      "main": [
        [
          {
            "node": "Build Google Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Google Query": {
      "main": [
        [
          {
            "node": "Google Search API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search API": {
      "main": [
        [
          {
            "node": "Filter LinkedIn Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter LinkedIn Results": {
      "main": [
        [
          {
            "node": "AI Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser (JSON Schema)": {
      "ai_outputParser": [
        [
          {
            "node": "AI Formatter",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Formatter",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini2": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser (JSON Schema)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Formatter": {
      "main": [
        [
          {
            "node": "Split Leads Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Leads Array": {
      "main": [
        [
          {
            "node": "AI Add Score",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Add Score",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Add Score",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Create Record in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Add Score": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6d8ffc53-aea2-4dfd-928a-bf6a7c481323",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d9953f3db0edf2e511d5f33280ef74a1515db95b60afda927dcd95e52f55955"
  },
  "id": "5rKBgbMZytqBLgLN",
  "tags": []
}
